.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    color: #000;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.botones {
    display: flex;    
    gap: 40px;
    justify-content: center;
}
